:root {
  --primary: red;
  --secondary: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  color: red;
  
}


.container {
  display: flex;
  flex: row;
  justify-content: space-between;
}

.lift-card {
  color: aqua;
  border: black solid 3px;
  width: auto;
  width: 25%;
  max-width: 200px;
  height: 60%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:5px;
  color: black;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.lift-card-container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.lift-details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lift-weight,
.lift-date {
  border: black solid 1px;
  width: 95%;
  margin-bottom: 1%;
  border-radius:5px;
  text-align: center;
}

.lift-form {
  display: flex;
  flex-direction: column;
  align-items:center;
  border: black solid 1px;
  width: 20%;
  overflow: hidden;
  margin-top: 1%;
  border-radius:5px;
}

.lift-form h3, .lift-name {
  width: 100%;
  background-color: var(--primary);
  color: var(--secondary);
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.new-lift-name,
.new-lift-weight {
  width: 80%;
  margin-bottom: 1%;
  border-radius:5px;
}

.new-lift-btn, .lift-btn {
  margin-bottom: 1%;
  border-radius:5px;
  background-color: var(--primary);
  color: var(--secondary);
}

@media screen and (max-width: 600px) {
  body {
    font-size: 2vw;
  }

  .new-lift-btn, .lift-btn {
    font-size: 2vw;
    max-height: 15%;
  }
}